<div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
  <h2 class="mb-4 text-1xl font-black text-zinc-500">
    Debug Info
  </h2>
  <div class="text-xs text-zinc-500">
    <%= debug(params) if Rails.env.development? %>
  </div>
</div>

