<div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
  <h2 class="mb-4 text-2xl font-black">
    Posts feed
  </h2>
  <div>
    <% if @postfeed_items.any? %>
      <div class="divide-y divide-dashed my-10">
        <%= render @postfeed_items %>
      </div>
    <% end %>
  </div>
</div>

  